[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/utf8proc"]
	path = vendor/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/realm-cpp"]
	path = vendor/realm-cpp
	url = https://github.com/mezleca/realm-cpp
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv
[submodule "vendor/sqlitecpp"]
	path = vendor/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/mezleca/glad
[submodule "vendor/lunasvg"]
	path = vendor/lunasvg
	url = https://github.com/sammycage/lunasvg
[submodule "vendor/cpr"]
	path = vendor/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
