[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/utf8proc"]
	path = vendor/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/realm-cpp"]
	path = vendor/realm-cpp
	url = https://github.com/mezleca/realm-cpp
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2
