:root {
    --bg-color: #202020;
    --manager-bg-color: #242424;
    --manager-sel-color: #1f1f1f;
    --content-bg: #222222;
    --text-color: #ffffff;
    --blink-color: #db2a0a;
    --accent-color: #f06595;
    --accent-color2:rgb(204, 64, 113);
    --accent-color3: #f44336;
    --accent-color4: #ff66ab5d;
    --accent-hover-color: #f37da6af;
    --hover-color: #2b2b2b;
    --input-bg: #3d3d3d;
    --button-color: #f2407e;
    --button-hover-color: #f13476;
    --popup-bg: #2a2a2a;
    --text-gray: #aaa;
    --collections-border-color: rgb(56,56,56);
    --title-bar-height: 32px;
    --transition-delay: 0.3s;
    --context-fade-delay: 0.15s;
}

body {
    border: 1px solid grey;
    border-width: thin;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    color: #ffffff;
    background-color: var(--bg-color);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loading-screen {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-out, background-color var(--transition-delay) ease;
}

.loading-status {
    margin-top: 10px;
    font-size: 1.5em;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f2407e;
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
